---
name: CI on Pull Requests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5

  doc:
    name: Build Doc
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: run cargo doc
        run: nix develop --command cargo doc

  formatting:
    name: Code Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Code Formatting
        run: |
          nix develop --command cargo fmt --check

  build-windows:
    name: Build the project (Windows)
    runs-on: windows-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Build the project with all the features
        run: cargo build --all-features

      - name: Build the project with nusb support
        run: cargo build --no-default-features --features nusb

      - name: Build the examples
        run: cargo build --examples

  build:
    name: Build the project
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Build the project with all the features
        run: nix develop --command cargo build --all-features

      - name: Build the project with nusb support
        run: nix develop --command cargo build --no-default-features --features nusb

      - name: Build the examples
        run: nix develop --command cargo build --examples

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: run cargo test
        run: nix develop --command cargo test --all-features

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Verify code coverage
        run: |
          nix develop --command cargo tarpaulin --verbose --timeout 120

