---
name: CI on Master

on:
  push:
    branches:
      - master

jobs:
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - name: Verify code coverage
        run: |
          nix develop --command cargo tarpaulin --verbose --timeout 120
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: tarpaulin-report
          path: tarpaulin-report.html

  build:
    name: Build the project
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -D warnings
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: run cargo build
        run: nix develop --command cargo build --all-features

  get-next-version:
    name: Get the next version
    runs-on: ubuntu-latest
    outputs:
      version : ${{ steps.semantic-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: paulhatch/semantic-version@c423ebb78413907bc5382d5a0e840be160a83981
        id: semantic-version
        with:
          tag_prefix: "v"
          major_pattern: "/breaking change:/"
          major_regexp_flags: "ig"
          minor_pattern: "/^feat:/"
          minor_regexp_flags: "ig"
          version_format: "${major}.${minor}.${patch}"
          bump_each_commit: false
          search_commit_body: true
          enable_prerelease_mode: true

  release:
    name: Publish a new release
    needs:
      - get-next-version
      - build
    permissions:
      contents: write # required to push the new git tag
      id-token: write # required for trusted publishing
    runs-on: ubuntu-latest
    env:
      next-version: ${{ needs.get-next-version.outputs.version }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Print the next version
        run: |
          echo "The next version is ${{ env.next-version }}"

      - name: Patch the Cargo version
        run: |
          sed -i 's/0.0.0-placeholder-version/${{ env.next-version }}/' Cargo.toml
          git diff

      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: Publish new Cargo version
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: |
          nix develop --command cargo publish --allow-dirty

      - name: Tag the next version
        run: |
          new_tag_name="v${{ env.next-version }}"
          git tag "$new_tag_name" "${{ github.sha }}"
          git push origin "$new_tag_name"
